/* .gridBox .cover  {position: absolute; top: 0;bottom: 0;right: 0; left: 0; background-color: #b89569;} */


.mainpage {position: relative; height: 100%; width: min(1000px, 80vw);}
.mainpage .gridWrap {gap: 0; display: grid;}
.mainpage .gridWrap .gridBox {max-height: 392px; gap: 0; grid-template-columns: 1fr 1fr; display: grid;}
.mainpage .gridWrap .gridBox > div {position: relative;}
.mainpage .gridWrap .gridBox > div .cover {position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: #b89569; z-index: 10;}

.mainpage .gridWrap .gridBox .textBox {}
.mainpage .gridWrap .gridBox:nth-child(1) .textBox {}
.mainpage .gridWrap .gridBox .textBox .cover {z-index: 0;}
.mainpage .gridWrap .gridBox .textBox .textWrap {opacity: 0; position: relative; display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%;}
.mainpage .gridWrap .gridBox .textBox .textWrap a {font-family: 'Gmarket'; display: block; padding: 0.4rem 0; font-size: 4.3rem; font-weight: 600; line-height: 1.4; color: #212529; transition: color 0.3s ease-in-out; cursor: pointer;}
.mainpage .gridWrap .gridBox .textBox .textWrap a:hover {color: #958570;}
.mainpage .gridWrap .gridBox .textBox .textWrap h2 {padding: 0.4rem 0; font-size: 4.3rem; font-weight: 300; font-family: 'Gmarket'; color: #212529;}
.mainpage .gridWrap .gridBox:nth-child(2) .textBox .textWrap a {text-align: right;}

.mainpage .gridWrap .gridBox .imgBox {overflow: hidden;}
.mainpage .gridWrap .gridBox .imgBox .cover {}
.mainpage .gridWrap .gridBox .imgBox figure {position: relative; z-index: 0; max-width: 392px; overflow: hidden;}
.mainpage .gridWrap .gridBox .imgBox figure img {width: 100%; height: 100%; object-fit: cover; background-position: center center; background-repeat: no-repeat; transform: scale(1.15);}

/* section02 예외 */
.mainpage .gridWrap .gridBox:nth-child(2) {grid-template-columns: 13fr 14fr;}
.mainpage .gridWrap .gridBox:nth-child(2) .imgBox {grid-row: 1; grid-column: 1;}
.mainpage .gridWrap .gridBox:nth-child(2) .textBox {grid-row: 1; grid-column: 2;}

/* active */
.motion-enter-done .mainpage .gridWrap {gap: calc(var(--spacing) * 5);}
.motion-enter-done .mainpage .gridWrap .gridBox {gap: calc(var(--spacing) * 5);}
.motion-enter-done .mainpage .gridWrap .gridBox:nth-child(1) {grid-template-columns: 3fr 2fr;}
.motion-enter-done .mainpage .gridWrap .gridBox:nth-child(2) {grid-template-columns: 2fr 3fr;}
.motion-enter-done .mainpage .gridWrap .gridBox:nth-child(3) {grid-template-columns: 7fr 8fr;}
.motion-enter-done .mainpage .gridWrap .gridBox .textBox .cover {z-index: 0;}
.motion-enter-done .mainpage .gridWrap .gridBox .imgBox .cover.left {left: 100%;}
.motion-enter-done .mainpage .gridWrap .gridBox .imgBox .cover.right {right: 100%;}
/* .motion-enter-done .mainpage .gridWrap .gridBox .textBox .cover {width: 392px;} */



@font-face {
	font-family: 'Gmarket';
	font-weight: 600;
	src: url('../assets/fonts/GmarketSansBold.woff') format('woff'),
}
@font-face {
	font-family: 'Gmarket';
	font-weight: 300;
	src: url('../assets/fonts/GmarketSansMedium.woff') format('woff'),
}
@font-face {
	font-family: 'Gmarket';
	font-weight: 100;
	src: url('../assets/fonts/GmarketSansLight.woff') format('woff'),
}
@font-face {
	font-family: 'Garamond';
	font-weight: 600;
	src: url('../assets/fonts/CormorantGaramond-Bold.ttf') format('truetype'),
}