.sub_01 {position: relative;}
.sub_01 .gridWrap {display: flex; align-items: center; height: 100vh;}
.sub_01 .widePage {height: 100%; display: grid; gap: 0; grid-template-rows: 1fr 1fr;}
.sub_01 .widePage .gridBox {height: 100%; display: grid; gap: 0; grid-template-columns: 1fr 1fr 1fr;}
.sub_01 .widePage .gridBox > div {position: relative;}
.sub_01 .widePage .gridBox > div .cover {position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: #b89569; z-index: 10;}

.sub_01 .widePage .gridBox .imgBox {}
.sub_01 .widePage .gridBox .imgBox .cover {}
.sub_01 .widePage .gridBox .imgBox figure {}
.sub_01 .widePage .gridBox .imgBox figure img {}

.sub_01 .widePage .gridBox .textBox {}
.sub_01 .widePage .gridBox .textBox .cover {}
.sub_01 .widePage .gridBox .textBox .textWrap {}